body {
    font-family: 'Exo 2', sans-serif;
    text-align: center;
    background-image: linear-gradient(white,rgb(239, 249, 255), #91d3ff);
    position: relative;
    margin: 0px;
}

header > img {
    width: 190px;
    display: inline-block;
    margin: 20px 0 0 0;
}

header {
    position: sticky;
    background-color: white;
    width: 100%;
    top: 0px;
    margin-top: -10px;
    z-index: 2;
}

header > div {
    margin-top: -15px;
    margin-bottom: -15px;
}

.line {
    margin-top: 0;
    margin-bottom: 0;
}

nav {
    margin-top: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

}

nav > a {
    color: white;
    padding: 6px 15px;
    margin: 15px 30px;
    border: 2px solid black;
    border-radius: 20px;
    background-color: black;
    text-decoration: none;
    transition: background-color 0.3s, color 0.3s;
}

nav > a:hover {
    color: rgb(0, 0, 0);
    background-color: rgb(128, 179, 236);
}

.a52s {
    margin-top: 80px;
}

#spec {
    padding-top: 90px;
    margin-bottom: 50px;
}

.spec {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

section > div > h4 {
    display: flex;
    justify-content: flex-start;
    align-items: center;

}

ul {
    list-style-type: none;
    padding-left: 0;
}

.razmak {
    margin-bottom: 2px;
}

ul > img {
    padding: 30px 80px 10px 80px;
}

.spec__parts {
    padding: 10px 20px;
    margin-left: -2px;
    margin-top: -2px;
    background-color: rgba(255, 255, 255, 0.411);
    border: 2px dotted rgba(0, 0, 0, 0.158);
    border-radius: 10px;
}

.slicni__title, .specifikacije {
    padding-top: 70px;
    padding-bottom: 60px;
}

.slicni__mob {
    transition: transform 0.3s;
}

.slicni__mob:hover{
    transform: scale(1.06);
}

.slicni {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 100px;
}

.slicni__mob, .price{
    display: block;
    margin: 10px 0;
}

.price {
    color: rgb(184, 0, 0);
}

footer {
    text-align: left;
    background-color: #8ad0ff;
}

.newsletter, .kontakt {
    margin-top: 10px;
    margin-left: 20px;
}

.foot {
    margin-left: 20px;
    margin-top: -10px;
}

.email {
    border-radius: 10px;
    border-color: black;
    background-color: #d5eeff;
}

.potvrdi {
    border-radius: 10px;
    color: rgb(255, 255, 255);
    background-color: #000000;
    border-color: black;
    transition: color 0.3s, background-color 0.3s;
}

.potvrdi:hover {
    color: rgb(0, 0, 0);
    background-color: #8ad0ff;
}

.prava {
    text-align: center;
}

.autor {
    text-align: right;
}

hr {
    border-color: rgba(0, 0, 0, 0.575);
}