body {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    background-image: linear-gradient(white,rgb(197, 230, 252), rgb(145, 211, 255));
    position: relative;
}

header > img {
    width: 300px;
    display: inline-block;
    margin: 50px 0 0 0;
}

header > h1 {
    margin: 20px 0 20px 0;
}

/* header {
    position: fixed;
    background-color: white;
    width: 100%;
} */

nav {
    margin-top: 30px;
}

nav > a {
    color: white;
    padding: 6px 15px;
    margin: 15px 15px;
    border: 2px solid black;
    border-radius: 7px;
    background-color: black;
    text-decoration: none;
    transition: background-color 0.3s, color 0.3s;
}

nav > a:hover {
    color: rgb(0, 0, 0);
    background-color: rgb(107, 127, 240);
}

main > img {
    margin-top: 55px;
}

.spec {
    text-align: left;
    margin-left: 10%;
}

.proc, .zas, .mem, .bat {
    display: inline-flex;
    margin: 0px 8px;
}

ul {
    list-style-type: none;
}

.razmak {
    margin-bottom: 2px;
}

ul > img {
    padding: 30px 80px 10px 80px;
}

.tablica {
    margin-left: auto;
    margin-right: auto;
}

.a72, .se, .pet {
    margin: 10px 50px;
}

th > a {
    margin: 50px;
}

.cijene {
    color: rgb(184, 0, 0);
}

footer {
    text-align: left;
}

.newsletter, .kontakt {
    margin-top: -20px;
}

.prava {
    text-align: center;
}

.autor {
    text-align: right;
}

