body {
    font-family: 'Exo 2', sans-serif;
    text-align: center;
    background-image: linear-gradient(white,rgb(197, 230, 252), rgb(145, 211, 255));
    position: relative;
}

header > img {
    width: 300px;
    display: inline-block;
    margin: 30px 0 0 0;
}

header > h1 {
    margin: 20px 0 20px 0;
}

/* header {
    position: fixed;
    background-color: white;
    width: 100%;
    margin-top: -10px;
} */

.linija {
    margin-top: 25px;
}

nav {
    margin-top: 30px;
}

nav > a {
    color: white;
    padding: 6px 15px;
    margin: 15px 15px;
    border: 2px solid black;
    border-radius: 7px;
    background-color: black;
    text-decoration: none;
    transition: background-color 0.3s, color 0.3s;
}

nav > a:hover {
    color: rgb(0, 0, 0);
    background-color: rgb(107, 127, 240);
}

main > img {
    margin-top: 55px;
}

.spec {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}
section > div > h4 {
    display: flex;
    justify-content: flex-start;
    align-items: center;

}
ul {
    list-style-type: none;
}

.razmak {
    margin-bottom: 2px;
}

ul > img {
    padding: 30px 80px 10px 80px;
}

.tablica {
    margin-left: auto;
    margin-right: auto;
}

.slicni, .specifikacije {
    padding-top: 70px;
    padding-bottom: 15px;
}

.a72, .se, .pet {
    margin: 10px 50px;
    transition: transform 0.3s;
}

.a72:hover, .se:hover, .pet:hover {
    margin: 10px 50px;
    transform: scale(1.06);
}

th > a {
    margin: 50px;
}

.cijene {
    color: rgb(184, 0, 0);
}

footer {
    text-align: left;
}

.newsletter, .kontakt {
    margin-top: -20px;
}

.prava {
    text-align: center;
}

.autor {
    text-align: right;
}

